<h2>About Me</h2>

<div class="sidebar-section">
    <img src="http://cv.jonasbandi.net/cv/portrait.jpg" >

    <p>
    I am an enthusiastic software professional.
    </p>
    <p>
    I am passionate about technology and methodologies - always trying to learn, improve and share knowledge.
    </p>
    <br>
    <p><a href="https://sites.google.com/site/jonasbandi/speaking" target="_blank"><strong> Meet me speaking...</strong></a></p>
</div>



<h2>Online Profiles</h2>
<div class="sidebar-section">
    <p class="action_link">
        <a href="http://jbandi.github.com/cv/cv_en.htm" target="_blank">
            <img border="0" src="http://www.jonasbandi.net/favicon.png" height="15" />
            Personal CV
        </a>

    <div style="font-size:9px; padding-bottom:5px">
        [english:
        <a href="http://jbandi.github.com/cv/cv_en.htm">html </a>
        /
        <a href="http://jbandi.github.com/cv/cv_en.pdf">
            pdf</a>; german:
        <a href="http://jbandi.github.com/cv/cv_de.htm">
            html</a>
        /
        <a href="http://jbandi.github.com/cv/cv_de.pdf">
            pdf</a>
        ]
    </div>
    </p>

    <a href="http://www.xing.com/profile/Jonas_Bandi" target="_blank"><img border="0" alt="XING" src="http://www.xing.com/img/buttons/13_en_btn.gif" /></a>
    <br />
    <a href="http://www.linkedin.com/in/jonasbandi"><img border="0" width="160" alt="View Jonas Bandi&#39;s profile on LinkedIn" src="http://www.linkedin.com/img/webpromo/btn_viewmy_160x25.gif" height="25" /></a>
    <br />
    <a  href="http://careers.stackoverflow.com/jbandi" target="_blank">
        <img style="padding:5px; border: solid 1px; width:100%" alt="StackOverflowCareers" src="https://cdn-careers.sstatic.net/careers/Img/logos/logo-socareers.svg?v=61579af6e580"/>
    </a>
    <br />
    <a href="http://stackoverflow.com/users/32749/jbandi">
        <img src="http://stackoverflow.com/users/flair/32749.png" width="195" height="58" alt="profile for jbandi at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for jbandi at Stack Overflow, Q&amp;A for professional and enthusiast programmers" />
    </a>
</div>


<h2>My Training Offer</h2>
<div class="sidebar-section">

    I offer courses for modern web-development in the enterprise:

    <a href="http://www.ivorycode.com/#schulung"><img
            src="https://lh3.googleusercontent.com/-6eIxPxH_Y2w/VT_wNlKZwtI/AAAAAAAACNs/OheRDJkbXJM/s295/WebCourses2.png"
            width="75%" style="display:block; margin:auto"/>
    </a>

    <a href="http://www.ivorycode.com/#schulung"> Contact me </a> to get your team up to speed on <span
        style="font-style:italic;">JavaScript</span>, <span style="font-style:italic;">HTML5</span>, <span
        style="font-style:italic;">Angular</span>, <span style="font-style:italic;">React</span>, <span
        style="font-style:italic;">Node</span>, <span
        style="font-style:italic;">Grunt/Gulp</span> etc and how to integrate those technologies in your enterprise
    environment (Java, .NET).
</div>
